<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <file>tests/Unit/ExampleTest.php</file>
            <file>tests/Feature/ExampleTest.php</file>
            <file>tests/RecaptchaV3Test.php</file>
            <file>tests/Facades/RecaptchaV3FacadeTest.php</file>
            <file>tests/Rules/RecaptchaV3RuleTest.php</file>
            <file>tests/Providers/RecaptchaV3ServiceProviderTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
